{% extends 'layouts/base.html' %}

{% set mainPage = true %}

{% block content %}
<section class="main">
    <div class="wrapper">
        <div class="main-content">
            <div class="header-block">
                <h1>Стабилизатор для камер <span>Gimdal S5</span></h1>
            </div>
            <div class="facts">
                <ul>
                    <li>Отслеживание лица</li>
                    <li>Отслеживание объектов</li>
                    <li>Автоматическая съемка панорамы</li>
                    <li>Режим slow motion</li>
                    <li>До 12 часов на одном заряде ( 4400 mAh )</li>
                    <li>Встроенный power bank</li>
                </ul>
            </div>
            <div class="btn-block">
                <a href="" data-modal class="orange-btn"><span>купить за 6999 ₽</span></a>
                <span class="sale">СКИДКА 17%</span>
                <span class="old-price">8500₽</span>
            </div>
        </div>
        <div class="main-img">
            <img src="temp/stab.png" alt="СТАБИЛИЗАТОР ДЛЯ КАМЕР GIMBAL S5">
        </div>
    </div>
</section>

<section class="video">
    <div class="video-play">
        <div class="video-play-img">
            <img src="temp/play.png" alt="Смотреть видео">
        </div>
        <span>Смотреть видео</span>
    </div>
    <video preload="auto" loop="loop" autoplay="autoplay">
        <source src="https://www.nordman.ru/static/images/f_big.mp4" type="video/mp4">
        <source src="https://www.nordman.ru//static/images/f_big.webm" type="video/webm">
    </video>
</section>

<section class="compare">
    <div class="wrapper">
        <hgroup class="header-block">
            <h2>ПЛАВНЫЕ ПРОФЕССИОНАЛЬНЫЕ КАДРЫ, КАК В КИНО!</h2>
            <p>Посмотрите как Gimbal S5 демонстрирует свою передовую технологию со встроенным высокоточным датчиком и бесщеточным двигателем, убирая удары и тряску во время съемки.</p>
        </hgroup>

        <div class="compare-list">
            <div class="compare-item">
                <video  preload="auto" loop="loop" autoplay="autoplay">
                    <source src="video/bez_stedika_lya_sayta.mp4" type="video/mp4">
                    <source src="video/bez_stedika_lya_sayta.webm" type="video/webm">

                </video>
                <div class="title">Без стабилизатора</div>
            </div>

            <div class="compare-item">
                <video  preload="auto" loop="loop" autoplay="autoplay">
                    <source src="video/stedik_dlya_sayta.mp4" type="video/mp4">
                    <source src="video/stedik_dlya_sayta.webm" type="video/webm">
                </video>
                <div class="title color">Со стабилизатором Gimbal S5</div>
            </div>
        </div>
    </div>
</section>

<section class="tracking">
    <div class="wrapper">
         <hgroup class="header-block">
            <h2>ОТСЛЕЖИВАНИЕ НЕ ТОЛЬКО ЛИЦ, НО И ОБЪЕКТОВ</h2>
            <p>Вам не придется постоянно следить за объектом съемки, Gimbal S5 сделает это за вас. Просто выберите объект для отслеживания, и наслаждайтесь процессом.</p>
        </hgroup>
    </div>
</section>

{% endblock %}
