{% extends 'layouts/base.html' %}

{% set mainPage = true %}

{% block content %}
<section class="main">
    <div class="wrapper">
        <div class="main-content">
            <div class="header-block">
                <h1>Стабилизатор для камер <span>Gimdal S5</span></h1>
            </div>
            <div class="facts">
                <ul>
                    <li>Отслеживание лица</li>
                    <li>Отслеживание объектов</li>
                    <li>Автоматическая съемка панорамы</li>
                    <li>Режим slow motion</li>
                    <li>До 12 часов на одном заряде ( 4400 mAh )</li>
                    <li>Встроенный power bank</li>
                </ul>
            </div>
            <div class="btn-block">
                <a href="" data-modal class="orange-btn"><span>купить за 6999 ₽</span></a>
                <span class="sale">СКИДКА 17%</span>
                <span class="old-price">8500₽</span>
            </div>
        </div>
        <div class="main-img">
            <img src="temp/stab.png" alt="СТАБИЛИЗАТОР ДЛЯ КАМЕР GIMBAL S5">
        </div>
    </div>
</section>

<section class="video">
    <div class="video-play">
        <div class="video-play-img">
            <img src="temp/play.png" alt="Смотреть видео">
        </div>
        <span>Смотреть видео</span>
    </div>
    <video preload="auto" loop="loop" autoplay="autoplay">
        <source src="https://www.nordman.ru/static/images/f_big.mp4" type="video/mp4">
        <source src="https://www.nordman.ru//static/images/f_big.webm" type="video/webm">
    </video>
</section>

<section class="compare">
    <div class="wrapper">
        <hgroup class="header-block">
            <h2>ПЛАВНЫЕ ПРОФЕССИОНАЛЬНЫЕ КАДРЫ, КАК В КИНО!</h2>
            <p>Посмотрите как Gimbal S5 демонстрирует свою передовую технологию со встроенным высокоточным датчиком и бесщеточным двигателем, убирая удары и тряску во время съемки.</p>
        </hgroup>

        <div class="compare-list">
            <div class="compare-item">
                <video  preload="auto" loop="loop" autoplay="autoplay">
                    <source src="video/bez_stedika_lya_sayta.mp4" type="video/mp4">
                    <source src="video/bez_stedika_lya_sayta.webm" type="video/webm">

                </video>
                <div class="title">Без стабилизатора</div>
            </div>

            <div class="compare-item">
                <video  preload="auto" loop="loop" autoplay="autoplay">
                    <source src="video/stedik_dlya_sayta.mp4" type="video/mp4">
                    <source src="video/stedik_dlya_sayta.webm" type="video/webm">
                </video>
                <div class="title color">Со стабилизатором Gimbal S5</div>
            </div>
        </div>
    </div>
</section>

<section class="tracking">
    <div class="wrapper"   >
         <hgroup class="header-block">
            <h2>ОТСЛЕЖИВАНИЕ НЕ ТОЛЬКО ЛИЦ, НО И ОБЪЕКТОВ</h2>
            <p>Вам не придется постоянно следить за объектом съемки, Gimbal S5 сделает это за вас. Просто выберите объект для отслеживания, и наслаждайтесь процессом.</p>
        </hgroup>

        <div class="tracking-stab" data-relative-input="true" id="scene">
            <img src="images/stab.png"  data-depth="0.1"  alt="">
        </div>
    </div>
</section>

<section class="detail">
  <div class="detail-one">
    <div class="wrapper">
      <hgroup class="header-block">
        <h2>ШИРОКИЕ ВОЗМОЖНОСТИ В КОМПАКТНОМ КОРПУСЕ</h2>
        <p>Вам не придется постоянно следить за объектом съемки</p>
      </hgroup>
      <img src="images/detail-one.png" alt="">
    </div>
  </div>

  <div class="detail-two">
    <div class="wrapper">
      <hgroup class="header-block">
        <h2>БЛОК УПРАВЛЕНИЯ</h2>
        <p>На блоке управления расположены два светодиодных индикатора. Индикатор вкл/выкл и индикатор текущего статуса. По центру размещен джойстик управления, ниже кнопка включения и кнопка выбора режима.</p>
      </hgroup>
    </div>
  </div>

  <div class="detail-three">
    <div class="wrapper">
      <hgroup class="header-block">
        <h2>КНОПКА БЫСТРОГО СНИМКА И ДЖОЙСТИК ЗУМА</h2>
      </hgroup>
    </div>
  </div>

  <div class="detail-four">
    <div class="wrapper">
      <hgroup class="header-block">
        <h2>USB и MicroUSB</h2>
        <p>При помощи micro-usb вы можете зарядить ваш стабилизатор когда это необходимо. А при помощи USB и мощного встроенного аккумулятора, вы можете использовав его в качестве <strong>power bank!</strong></p>

        <p class='usb'>4100mAH<i class='icon icon-usb'></i></p>
      </hgroup>
    </div>
  </div>
</section>

<section class="sport">
  <div class="wrapper">
      <hggroup class="header-block">
        <h2>ЛЮБИШЬ СПОРТ И ЭКСТРИМ?</h2>
        <p>Закажи Gimbal S5 до 15 октября и <strong>получи крепление для экшн камеры за 350₽!</strong></p>
      </hggroup>

      <div class="btn-block">
          <a href="" data-modal class="orange-btn"><span>ЗАКАЗАТЬ СТАБИЛИЗАТОР+КРЕПЛЕНИЕ</span></a>
          <span class="sale">СКИДКА НА КРЕПЛЕНИЕ 50% - 350₽</span>
          <span class="old-price">700₽</span>
      </div>
  </div>
</section>

<section class="app">
  <div class="wrapper">
    <div class="img"><img src="images/iphone.png" alt=""></div>
    <div class="text">
      <hgroup class="header-block">
        <h2>Приложение GIMBAL PRO</h2>
        <p>Получите полный контроль над функциями стабилизатора с помощью удобного приложения Gimbal PRO. Отслеживание лиц и объектов, автоматическая панорамная съемка, slow-motion и многое другое.</p>
      </hgroup>
      <div class="text-img">
        <a href="" class="img">
          <img src="images/google-play.png" alt="">
        </a>
        <a href="" class="img">
          <img src="images/apple-store.png" alt="">
        </a>
      </div>
    </div>
  </div>
</section>

<section class="instagram">
  <div class="wrapper">
    <hgroup class='header-block'>
      <h2>ИДЕАЛЬНЫЕ ФОТО И ВИДЕО  В INSTAGRAM</h2>
      <p><strong>Вертикальный режим съемки</strong> Gimbal S5 поднимет уровень вашего контента на тот уровень, о котором вы всегда мечтали</p>
    </hgroup>
  </div>
  <div class="paralax-img" data-relative-input="true" id="scene2">
    <img src="images/insta-img.png" data-depth="0.1" alt="">
  </div>
</section>

{% endblock %}
