/*------------------------------------*\
  # Path
\*------------------------------------*/
$img-path: '../images';
$svg-path: '../images/vector';

/*------------------------------------*\
    # Colors
    # http://chir.ag/projects/name-that-color
\*------------------------------------*/
$base-color: #3D3D3D;

$body-bg-color: #fff;

$link-color: #FF5C5C;
$link-color--hover: darken($link-color, 5%);
$link-color--active: darken($link-color, 10%);
$gradient: linear-gradient(#FF6B00,#FF5C5C);
$gray: #747474;
$light-gray:#DCDCDC;
$dark-gray: #3d3d3d;
$air-gray: #f3f3f3;
$order-gradient: linear-gradient(#FF6B00,#FFD600);

/*------------------------------------*\
    # Basic typography
\*------------------------------------*/
$font-size--root: 16px !default;

$font-size: 1rem; // rem(16px)

$font-size--h1: rem(25px);
$font-size--h2: rem(23px);
$font-size--h3: rem(18px);


$font-size--small: 80%;

$font-weight: 400;
$font-weight--lite: 300;
$font-weight--semibold: 600;
$font-weight--bold: 700;
$font-weight--black: 900;

$line-height: normal;
$base-fonts: 'Montserrat', sans-serif;
/*------------------------------------*\
    # Wrapper
\*------------------------------------*/
$wrapper-min-width: 280px;
$wrapper-max-width: 1171px;
$wrapper-padding: 0;

/*------------------------------------*\
  # Print
\*------------------------------------*/
$print-page-margin: 1cm;

/*------------------------------------*\
  # Magnific-Popup settings
\*------------------------------------*/
$mfp-overlay-color: #fff;
$mfp-overlay-opacity: .5;