.main{
  width: 100%;
  padding-top:150px;
  background-color: $body-bg-color;
  max-height: 600px;
  height: 100%;
  box-sizing: border-box;

  .wrapper{
    position: relative;
    padding: 0 100px 89px;
  }

  &-content{
    .header-block{
      text-align: left;
      font:{
        size: rem(25px);
        weight: 600;
      }
      letter-spacing: .05em;
      color: $dark-gray;
      text-transform: uppercase;
      margin-bottom: 40px;
      span{
        display: block;
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #FF6B00;
      }
    }

    .facts{
      margin-bottom: 45px;
      ul{
        li{
          text-align: left;
          font: {
            size: rem(16px);
            weight: 400;
          };
          color: $gray;
          letter-spacing: .005em;
          line-height: 23px;
          margin-bottom: 10px;
          position: relative;
          padding-left: 30px;
          box-sizing: border-box;
          &:before{
            position: absolute;
            content: '';
            width: 9px;
            height: 9px;
            background-color: $dark-gray;
            border-radius: 50%;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }

    .btn-block{
      .orange-btn{
        display: inline-block;
        width: 100%;
        max-width: 230px;
        //padding: 0 21px;
        height: 50px;
        box-sizing: border-box;
        margin-right: 29px;
        span{
          line-height: 50px;
          font-size:rem(18px) ;
          margin: 0;
        }
      }
      span{
        text-transform: uppercase;
        font-size: rem(18px);
        display: inline-block;
        margin-right: 22px;
        &.sale{
          font-weight: 600;
          letter-spacing: 0.05em;
          background: $gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          color: #FF6B00;
        }
        &.old-price{
          font-weight: 400;
          color: $gray;
          text-align: center;
          letter-spacing: 0.05em;
          text-decoration-line: line-through;
        }
      }
    }
  }

  &-img{
    position: absolute;
    width: 380px;
    height: 499px;
    right: 100px;
    bottom: -9px;
    img{
      display: block;
      width: 100%;
    }
  }
}

.video{
  width: 100%;
  max-width: 1920px;
  height: 290px;
  position: relative;
  overflow: hidden;
  video{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &-play{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    &-img{
      width: 150px;
      height: 150px;
      img{
        display: block;
        width: 100%;
      }
    }
    span{
      display: block;
      margin-top: 10px;
      font-weight: 400;
      line-height: 23px;
      font-size: rem(16px);
      letter-spacing: 0.05em;
      color: #FFFFFF;
      text-align: center;
    }
  }
}

.compare{
  padding-top: 100px;
  padding-bottom: 75px;

  .wrapper{
    padding: 0 100px;
  }

  .header-block{
    font:{
      family: $base-fonts;
      weight: $font-weight--semibold;
      size:rem(23px);
    }
    line-height: 28px;
    text-transform: uppercase;
    color: $dark-gray;
    margin-bottom: 50px;
    h2{
      margin-bottom: 17px;
    }
    p{
      font:{
        family: $base-fonts;
        weight: $font-weight;
        size:rem(16px);
      }
      line-height: 23px;
      text-transform: none;
      color: $gray;
      letter-spacing: .5px;
    }
  }

  &-list{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &-item{
    max-width: 472px;
    video{
      width: 100%;
      display: block;
      height: 264px;
      margin-bottom: 20px;
    }
    .title{
      font:{
        family: $base-fonts;
        size: rem(16px);
        weight: $font-weight;
      }
      color: $gray;
      line-height: 23px;
      text-align: left;
      &.color{
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #FF6B00;
      }
    }
  }
}

.tracking{
  width: 100%;
  background-image: url(../images/traking-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 600px;
  overflow-y: hidden;

  .wrapper{
    position: relative;
    //overflow-x:visible ;
    //overflow-y: hidden;
  }

  &-stab{
    width: 355px;
    height: 591px;
    position: absolute;
    right: 0;
    top: 160px;
    overflow: visible;
    img{
      display: block;
      width: 100%;
    }
  }


  .wrapper{
    display: flex;
    flex:1 0 auto;
    align-items: center;
    justify-content:flex-start;
    height: 100%;

    .header-block{
      max-width:464px;
      margin-bottom: 0;

      p{
        max-width: 410px;
      }
    }
  }
}

.detail{
  width: 100%;

  .header-block{
    max-width:60%;
  }
  &-one{
    background-color: #fff;
    width: 100%;

    .wrapper{
      height: auto;
      position: relative;
    }
    .header-block{
      position: absolute;
      top: 75px;
      left: 0;
      text-align: left;
    }
    img{
      display: block;
      max-width: 100%;
      object-fit: contain;

    }
  }

  &-two{
    background: #F3F3F3;
    height: 317px;

    .wrapper{
      background-image: url(../images/detail-two.png);
      background-position: right top;
      background-repeat: no-repeat;
      flex: 1 0 auto;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content:flex-start;

      .header-block{
        margin-bottom: 0;
      }
    }
  }

  &-three{
    background: #fff;
    height: 317px;

    .wrapper{
      background-image: url(../images/detail-three.png);
      background-position: left top;
      background-repeat: no-repeat;
      flex: 1 0 auto;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content:flex-end;

      .header-block{
        margin-bottom: 0;
      }
    }
  }

  &-four{
    background: #F3F3F3;
    height: 317px;

    .wrapper{
      background-image: url(../images/detail-four.png);
      background-position: right top;
      background-repeat: no-repeat;
      flex: 1 0 auto;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content:flex-start;

      .header-block{
        margin-bottom: 0;

        p{
          line-height: rem(23px);
          &.usb{
            color: #3D3D3D;
            margin-top: 28px;
            font:{
              weight:$font-weight--semibold;
            }
          }
        }
      }
    }
  }
}

.sport{
  width: 100%;
  height: 600px;
  background-position: center top;
  background-size: cover;
  background-image: url(/images/sport-bg.jpg);

  .wrapper{
    display: flex;
    height: 100%;
    align-items: flex-start;
    justify-content:center;
    flex-direction:column;
  }
  .header-block{
    color:#fff;
    width: 100%;
    max-width: 500px;
    margin-bottom: 75px;

    p{
      color:#fff;
      font-weight:$font-weight--lite;
      strong{
        font-weight: $font-weight--semibold
      }
    }
  }

  .btn-block{
    .orange-btn{
      display: inline-block;
      width: auto;
      padding: 0 21px;
      height: 50px;
      box-sizing: border-box;
      margin-right: 29px;
      span{
        line-height: 50px;
        font-size:rem(18px) ;
        margin: 0;
      }
    }
    span{
      text-transform: uppercase;
      font-size: rem(18px);
      display: inline-block;
      margin-right: 22px;
      &.sale{
        font-weight: 600;
        letter-spacing: 0.05em;
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #FF6B00;
      }
      &.old-price{
        font-weight: 400;
        color: #fff;
        text-align: center;
        letter-spacing: 0.05em;
        text-decoration-line: line-through;
      }
    }
  }
}

.app{
  width: 100%;
  background-image: url(../images/app-bg.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;

  .wrapper{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }

  .img{
    max-width: 219px;
    height: auto;
    margin-right:75px;

    img{
      display: block;
      width: 100%;
    }
  }
  .text{
    width: calc(100% - 300px);


    &-img{
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .img{
        width: 120px;
        margin-right: 20px;
        @include transition();
        &:hover{
          opacity: .7;
          text-decoration: none;
        }
      }
    }
  }
}

.instagram{
  width: 100%;
  background-image: url(../images/insta-bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;
  overflow: hidden;

  .wrapper{
    height: 100%;
    display: flex;
    align-items: center;
  }

  .header-block{
    color: #fff;
    max-width: 500px;
    p{
      color: #fff;
      font-weight: $font-weight--lite;
      strong{
        font-weight: $font-weight--semibold;
      }
    }
  }

  .paralax-img{
    position:absolute;
    right: 0;
    bottom: -10px;
    max-width: 600px;

    img{
      display: block;
      width: 100%;
    }
  }
}
