.cookie-policy {
  padding: 20px 0;
  display: none;
  background-color: $baltic-sea;
  border-bottom: 5px solid darken($baltic-sea, 80%);

  &-row {
    display: flex;
    align-items: center;

    @media (max-width: 650px) {
      flex-wrap: wrap;
    }
  }

  &-text {
    flex-grow: 1;
    padding-right: 15px;
    color: #fff;
    font-size: rem(13px);
    line-height: rem(20px);

    @media (max-width: 650px) {
      width: 100%;
    }
  }

  &-button {
    flex-grow: 0;
    flex-basis: 155px;

    @media (max-width: 650px) {
      margin-top: 15px;
    }

    button {
      padding: 13px 20px;
      display: block;
      width: 100%;
      line-height: 1;
      background-color: $crail;
      border: 3px solid darken($crail, 5%);
      border-radius: 50px;
      @include transition();

      @media (max-width: 650px) {
        padding-top: 8px;
        padding-bottom: 8px;
      }

      span {
        color: #fff;
        font: {
          size: rem(14px);
          weight: $font-weight--bold;
        }
        line-height: 1;
        text-transform: uppercase;
      }

      &:hover {
        background-color: transparent;
      }
    }
  }

  @media print {
    display: none !important;
  }
}